 .register-page{
  margin-top: 80px;
  min-height: 100vh;
  

}
.col-img{
  position: relative;
}

.register-image {
  background-image: url('../assets/img/10.png');
  background-size: cover;
  background-position: center;
  min-height: 100%;
  position: relative;
}

.register-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.548);
}

.register-button{
  margin-left: 81%;
}

.register-text{
  margin-left: 30%;
}

.caja1{
  border: 1px solid red;
}

.caja3 {
  border: 1px solid green;
}

.caja2{
  border: 1px solid blue;
} 
.caja4{
  border: 1px solid orangered;
}